$primary-clr: #15202b;
$secondary-clr: #1e2732;
$links-clr: rgb(29, 155, 240);
$links-clr-hover: rgb(21, 139, 218);
$btn-secundary: rgb(239 243 244);
$text-secundary-clr: rgb(115 129 141);
$text-primary-clr: rgb(247 249 249);
$Search-clr: #273340;
