/* Stle reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  background-color: #15202b;
}

a {
  text-decoration: none;
}

img:hover,
.full-name:hover,
.user-name:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.main-flex {
  max-width: 1350px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.left-flex {
  height: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.center-flex {
  border-right: 1px solid rgb(115, 129, 141);
  border-left: 1px solid rgb(115, 129, 141);
}

.right-flex {
  height: 100%;
  width: 65%;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.MainLeft {
  min-height: 100vh;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 30px;
  /* perfil */
  /* SUB MENU */
}
.MainLeft-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 100;
}
.MainLeft-nav-li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px 8px 4px 10px;
  border-radius: 50%;
}
.MainLeft-nav-li:hover {
  background-color: rgb(247, 249, 249);
}
.MainLeft-nav-li a {
  text-decoration: none;
  color: rgb(29, 155, 240);
}
.MainLeft-nav-li a ion-icon {
  font-size: 30px;
}
.MainLeft-item {
  margin-bottom: 5px;
  padding: 8px 25px 8px 10px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.MainLeft-item:hover {
  background: #1e2732;
}
.MainLeft-item a {
  color: rgb(247, 249, 249);
  font-weight: 500;
  font-size: 1.3rem;
}
.MainLeft-icon {
  margin-right: 15px;
}
.MainLeft-icon ion-icon {
  font-size: 26px;
  --ionicon-stroke-width: 30px;
  color: rgb(247, 249, 249);
}
.MainLeft-icon.home {
  font-size: 24px;
}
.MainLeft-icon.hash {
  padding: 0 2px;
  font-size: 30px;
  font-weight: 300;
  color: rgb(247, 249, 249);
}
.MainLeft .tweet-btn {
  display: block;
  width: 230px;
  background: rgb(29, 155, 240);
  color: rgb(247, 249, 249);
  text-align: center;
  padding: 15px;
  margin-top: 5px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
}
.MainLeft a.tweet-btn:hover {
  background-color: rgb(21, 139, 218);
}
.MainLeft a.tweet-btn ion-icon {
  font-size: 20px;
  color: rgb(115, 129, 141);
  display: none;
}
.MainLeft-profile-btn {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  font-size: 14px;
}
.MainLeft-profile-btn:hover {
  background: var(--itemBackground);
}
.MainLeft-profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(247, 249, 249);
}
.MainLeft .profile-img {
  border-radius: 50%;
  margin-right: 10px;
}
.MainLeft .MainLeft-profile-info .name {
  font-weight: bold;
  line-height: 1.5;
}
.MainLeft .MainLeft-profile-info .username {
  color: rgb(115, 129, 141);
}
.MainLeft .MainLeft-option-icon ion-icon {
  font-size: 18px;
  margin-top: 2px;
  color: rgb(247, 249, 249);
}
.MainLeft .MainLeft-sub {
  position: absolute;
  top: 1rem;
  left: 0px;
  background: #15202b;
  box-shadow: 0 0 10px rgb(115, 129, 141);
  width: 190px;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  z-index: 100;
}
.MainLeft .MainLeft-sub-item {
  padding: 20px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.MainLeft .MainLeft-sub-item:hover {
  background: #1e2732;
}
.MainLeft .MainLeft-sub-item.MainLeft-link {
  font-size: 14px;
}
.MainLeft .MainLeft-sub-item-MainLeft-icon {
  margin-right: 10px;
}
.MainLeft .MainLeft-sub-item-MainLeft-icon .MainLeft-sub-item .MainLeft-icon ion-icon {
  font-size: 18px;
}
.MainLeft .MainLeft-sub-item a {
  color: rgb(247, 249, 249);
}
.MainLeft .config {
  padding-top: 2px;
  margin-top: 2px;
  border-top: 1px solid #273340;
}
.MainLeft .active {
  display: block;
}

/* FIN DEL MENU DE NAVEGACION IZQUIERDO  */
.mainCenter-home {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  color: rgb(247, 249, 249);
  padding: 0.5rem 1rem;
  background: rgba(21, 32, 43, 0.204);
  backdrop-filter: blur(10px);
}
.mainCenter-home h1 {
  font-size: 1.2rem;
  font-weight: 800;
}
.mainCenter-home i {
  font-size: 1.4rem;
  color: rgb(29, 155, 240);
  padding: 0.5rem;
  border-radius: 50%;
}
.mainCenter-home i:hover {
  background: #1e2732;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/* caaja de tweet */
.post-tweet {
  background: #15202b;
  border-bottom: 1px solid rgb(115, 129, 141);
}
.post-tweet .form-group-1 {
  display: flex;
  flex-flow: row;
  padding: 0.3rem 1rem;
}
.post-tweet img {
  display: inline-block;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}
.post-tweet input {
  background: #15202b;
  width: 90%;
  height: 60px;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
}
.post-tweet input::placeholder {
  color: rgb(115, 129, 141);
}
.post-tweet input:focus {
  outline: none;
}
.post-tweet .form-group-2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}
.post-tweet .form-group-2 .btn {
  border: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem 1rem;
  background: rgb(29, 155, 240);
  color: rgb(247, 249, 249);
  border-radius: 25px;
  margin-right: 1rem;
}
.post-tweet .form-group-2 .btn:hover {
  background: #1da1f2;
  cursor: pointer;
}
.post-tweet .form-group-2 .btn:focus {
  outline: none;
}
.post-tweet .post-icons {
  padding-left: 4rem;
  color: rgb(29, 155, 240);
}
.post-tweet .post-icons i {
  padding-right: 10px;
  font-size: 1.4rem;
}
.post-tweet .post-icons i:hover {
  color: rgb(21, 139, 218);
  cursor: pointer;
}

/* contenido de usuarios */
.tweets {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #273340;
}
.tweets img {
  display: block;
  width: 100%;
}
.tweets:hover {
  background: #1e2732;
}
.tweets .user-pics img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.5rem 1rem;
}
.tweets .full-name:hover {
  text-decoration: underline;
}
.tweets .user-content img {
  border-radius: 20px;
}
.tweets .user-content {
  font-family: "Roboto";
  padding-right: 1rem;
  color: rgb(48, 52, 56);
  font-weight: 400;
  line-height: 1.5;
  color: rgb(247, 249, 249);
}
.tweets .user-content a {
  color: rgb(29, 155, 240);
}
.tweets .user-content-box {
  display: flex;
  flex-flow: column nowrap;
  color: #1e2732;
}
.tweets .user-content-box .user-names {
  display: flex;
  flex-flow: row nowrap;
}
.tweets .user-content-box .user-names .full-name {
  padding-right: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(247, 249, 249);
}
.tweets .user-content-box .user-names .user-name {
  padding-right: 10px;
  font-size: 1.05rem;
  font-weight: 400;
  color: rgb(115, 129, 141);
}
.tweets .user-content-box .user-names i {
  padding-top: 0.6rem;
  margin-left: 50%;
  color: rgb(115, 129, 141);
}
.tweets .user-content-box .time {
  color: rgb(115, 129, 141);
}
.tweets .user-content-box .content-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 4rem 1rem 0;
}
.tweets .user-content-box .content-icons i {
  color: rgb(115, 129, 141);
  font-size: 1rem;
  cursor: pointer;
}
.tweets .user-content-box .content-icons i:last-child {
  font-size: 14px;
}

/* SUGERENCIAS A SEGUIR */
.follow-users-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  line-height: 1.5rem;
}
.follow-users-box .related-followers .sub-text {
  font-size: 14px;
  padding-left: 2.1rem;
}
.follow-users-box .related-followers i {
  font-size: 0.7rem;
  padding-right: 8px;
}
.follow-users-box .follow-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #273340;
  border-top: 10px solid #273340;
}
.follow-users-box .follow-header .main-text {
  font-size: 19px;
  font-weight: 800;
}
.follow-users-box .follow-header i {
  font-size: 13px;
  align-self: center;
  cursor: pointer;
}
.follow-users-box .full-name h1:hover {
  text-decoration: underline;
}
.follow-users-box .user-name .sub-text {
  font-size: 17px;
  color: rgb(115, 129, 141);
}
.follow-users-box .user-profile {
  display: flex;
  flex-flow: row nowrap;
}
.follow-users-box .user-profile img {
  display: inline-block;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}
.follow-users-box .user-profile-content {
  width: 100%;
  padding-bottom: 0.3rem;
}
.follow-users-box .follow-user {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.4rem 1rem;
  border-bottom: 1px solid #273340;
}
.follow-users-box .follow-user:hover {
  background: #1e2732;
}
.follow-users-box .title-container {
  display: flex;
  justify-content: space-between;
}
.follow-users-box .bio-container {
  font-family: "Roboto";
}
.follow-users-box .bio-container a {
  color: rgb(29, 155, 240);
}
.follow-users-box .bio-container a:hover {
  text-decoration: underline;
}
.follow-users-box .user-content a:hover {
  text-decoration: underline;
}
.follow-users-box .follow-btn a {
  font-weight: bold;
  color: rgb(29, 155, 240);
  background: rgb(239, 243, 244);
  padding: 0.3rem 1.1rem;
  border: 1px solid rgb(29, 155, 240);
  border-radius: 25px;
}
.follow-users-box .follow-btn a:hover {
  background: rgba(29, 161, 242, 0.1);
}
.follow-users-box .follow-footer {
  text-align: center;
  padding: 1rem;
  background: #273340;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.follow-users-box .follow-footer a {
  color: rgb(29, 155, 240);
  font-size: 15px;
  font-weight: 400;
}
.follow-users-box .follow-footer:hover {
  background: rgba(0, 0, 0, 0.03);
}

.load-more {
  margin: 1rem 0;
  text-align: center;
}
.load-more a {
  color: rgb(247, 249, 249);
  background: rgb(29, 155, 240);
  padding: 0.3rem 1rem;
  border-radius: 25px;
  font-size: 1.2rem;
}
.load-more a:hover {
  background: rgb(21, 139, 218);
}

.search-box {
  border: none;
  border-radius: 25px;
  padding: 0.1rem 1rem;
  background: #273340;
  margin-top: 0.5rem;
  white-space: nowrap;
}
.search-box i {
  color: rgb(115, 129, 141);
  font-size: 0.9rem;
}
.search-box input {
  padding: 0.8rem 8rem 0.8rem 0.2rem;
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  background: #273340;
}

/* TENDENCIAS */
/* Trending Nav Items */
.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.nav-list :hover {
  background: #1e2732;
  cursor: pointer;
}
.nav-list a {
  color: rgb(29, 155, 240);
}
.nav-list:last-child {
  font-size: 1rem;
  border-bottom: none;
}
.nav-list .trend-icon {
  font-size: 13px;
  color: rgb(115, 129, 141);
}

.trend-list {
  display: flex;
  flex-flow: column nowrap;
}

.main-text {
  font-size: 15px;
  font-weight: bold;
  color: rgb(247, 249, 249);
}

.sub-text {
  font-size: 13px;
  color: rgb(115, 129, 141);
}

.trends {
  background: #1e2732;
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  border-radius: 15px;
  margin-top: 1rem;
}
.trends .header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(239, 243, 244);
}
.trends .header h2 {
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(247, 249, 249);
}

.right-footer {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.right-footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 0.5rem;
}
.right-footer .footer-links a:hover {
  text-decoration: underline;
}
.right-footer .footer-links i {
  padding: 0.4rem;
  border-radius: 50%;
}
.right-footer .footer-links i:hover {
  background: rgb(239, 243, 244);
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}
.right-footer .footer-copyright {
  align-self: flex-start;
}

/* MEDIA QUERIS */
@media screen and (max-width: 1200px) {
  .MainLeft-link {
    display: none;
  }
  .MainLeft {
    width: auto;
  }
  .MainLeft a.tweet-btn {
    width: auto;
  }
  .MainLeft a.tweet-btn .text {
    display: none;
  }
  .MainLeft a.tweet-btn ion-icon {
    display: inline-block;
    color: rgb(247, 249, 249);
    font-size: 1.5rem;
  }
  .MainLeft-profile-btn {
    width: auto;
  }
  .MainLeft-profile-btn .MainLeft-profile-info div {
    display: none;
  }
  .MainLeft-profile-btn .MainLeft-option-icon {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .main-flex {
    max-width: 50rem;
    padding-right: 10px;
  }
  .main-flex .right-flex {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .left-flex {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
