/* Stle reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url(../assets/Roboto-Regular.ttf);
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}
img:hover,
.full-name:hover,
.user-name:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}
//********************* CONTENEDORES *************************\\
.main-flex {
  max-width: 1350px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.left-flex {
  flex: 1 0 22%;
  height: 100%;
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(230, 236, 240);
}
.center-flex {
  flex: 3 0 45%;
  background: #fff;
}
.right-flex {
  flex: 2 0 31%;
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  background: #fff;
  border-left: 1px solid rgb(230, 236, 240);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

//************************ MENU DE NAVEGACION IZQUIERDO **************************\\
.MainLeft {
  min-height: 100vh;
  width: 260px;
  background: var(--background);
  border-right: 1px solid #fff2;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 100;
  }

  &-nav-li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 8px 8px 4px 10px;
    border-radius: 50%;
    &:hover {
      background-color: #fff;
    }
    a {
      text-decoration: none;
      color: gray;
      ion-icon {
        font-size: 30px;
      }
    }
  }
  &-item {
    padding: 8px 25px 8px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgb(49, 49, 243);
    }
  }
  &-icon {
    margin-right: 15px;
    ion-icon {
      font-size: 26px;
      --ionicon-stroke-width: 30px;
    }
    &.home {
      font-size: 24px;
    }
    &.hash {
      padding: 0 2px;
      font-size: 30px;
      font-weight: 300;
    }
  }

  a.tweet-btn {
    display: block;
    width: 230px;
    background: #1b8ddaee;
    color: wheat;
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
  }

  a.tweet-btn:hover {
    background-color: aqua;
  }

  a.tweet-btn ion-icon {
    font-size: 20px;
    color: #fff;
    display: none;
  }

  &-profile-btn:hover {
    background: var(--itemBackground);
  }

  &-profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img.profile-img {
    border-radius: 50%;
    margin-right: 10px;
  }

  &-profile-info .name {
    font-weight: bold;
    line-height: 1.5;
  }

  &-profile-info .username {
    color: var(--colorSecondary);
  }

  &-option-icon ion-icon {
    font-size: 16px;
    margin-top: 2px;
  }

  /* SUB MENU */
  .MainLeft-sub {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background: var(--background);
    box-shadow: 0 0 10px #fff5;
    width: 190px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    z-index: 100;

    &.active {
      display: block;
    }
    &-item {
      padding: 12px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      &:hover {
        background: #15181c;
      }
      &.MainLeft-link {
        font-size: 14px;
      }
      &-MainLeft-icon {
        margin-right: 10px;
        .MainLeft-sub-item .MainLeft-icon ion-icon {
          font-size: 18px;
        }
      }
    }
  }
  .config {
    padding-top: 2px;
    margin-top: 2px;
    border-top: 1px solid #fff2;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: transparent;
    display: none;
    z-index: 10;
  }

  .overlay.active {
    display: block;
  }
}
/* FIN DEL MENU DE NAVEGACION IZQUIERDO  */

//****************** SECCION CENTRO *********************\\

.mainCenter-home {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid rgb(230, 236, 240);
  color: #39393a;
  padding: 0.5rem 1rem;
  h1 {
    font-size: 1.2rem;
    font-weight: 800;
  }
  i {
    font-size: 1.4rem;
    color: rgba(29, 161, 242, 1);
    background: #fff;
    padding: 0.5rem;
    border-radius: 50%;
    &:hover {
      background: rgba(29, 161, 242, 0.1);
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

/* caaja de tweet */

.post-tweet {
  background: #fff;
  border-bottom: 10px solid rgb(230, 236, 240);
  .form-group-1 {
    display: flex;
    flex-flow: row;
    padding: 0.3rem 1rem;
  }
  img {
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
  }
  input {
    width: 90%;
    height: 60px;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 300;
    &::placeholder {
      color: rgba(123, 124, 126, 0.719);
    }
    &:focus {
      outline: none;
    }
  }

  .form-group-2 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.8rem;
  }

  .post-icons {
    padding-left: 4rem;
    color: #1da1f2;
    i {
      padding-right: 10px;
      font-size: 1.4rem;
      &:hover {
        color: #1da0f2c2;
        cursor: pointer;
      }
    }
    .btn {
      border: none;
      font-weight: 600;
      font-size: 1rem;
      padding: 0.7rem 1rem;
      background: #8ed0f9;
      color: #fff;
      border-radius: 25px;
      margin-right: 1rem;
      &:hover {
        background: #1da1f2;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

/* contenido de usuarios */
.tweets {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid rgb(230, 236, 240);
  img {
    display: block;
    width: 100%;
  }
  &:hover {
    background: rgb(245, 248, 250);
  }
  .user-pics img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0.5rem 1rem;
  }

  .full-name:hover {
    text-decoration: underline;
  }
  .user-content img {
    border-radius: 20px;
  }
  .user-content {
    font-family: 'Roboto';
    padding-right: 1rem;
    color: rgb(48, 52, 56);
    font-weight: 400;
    line-height: 1.5;
  }
  .user-content a {
    color: rgb(27, 149, 224);
  }

  .user-content-box {
    display: flex;
    flex-flow: column nowrap;
    color: rgb(20, 23, 26);
    .user-names {
      display: flex;
      flex-flow: row nowrap;
      .full-name {
        padding-right: 10px;
        font-size: 1rem;
        font-weight: 700;
        color: rgb(20, 23, 26);
      }
      .user-name {
        padding-right: 10px;
        font-size: 1.05rem;
        font-weight: 400;
        color: rgb(101, 119, 134);
      }
      i {
        padding-top: 0.6rem;
        margin-left: 50%;
        color: rgb(101, 119, 134);
      }
    }
    .time {
      color: rgb(101, 119, 134);
    }

    .content-icons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1rem 4rem 1rem 0;
      i {
        color: rgb(101, 119, 134);
        font-size: 1rem;
        cursor: pointer;
        &:last-child {
          font-size: 14px;
        }
      }
    }
  }
}

/* SUGERENCIAS A SEGUIR */

.follow-users-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  line-height: 1.5rem;
  .related-followers .sub-text {
    font-size: 14px;
    padding-left: 2.1rem;
  }
  .related-followers i {
    font-size: 0.7rem;
    padding-right: 8px;
  }
  .follow-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(230, 236, 240);
    border-top: 10px solid rgb(230, 236, 240);
    .main-text {
      font-size: 19px;
      font-weight: 800;
    }
    i {
      font-size: 13px;
      align-self: center;
      cursor: pointer;
    }
  }
  .full-name h1:hover {
    text-decoration: underline;
  }
  .user-name .sub-text {
    font-size: 17px;
    color: rgb(101, 119, 134);
  }
  .user-profile {
    display: flex;
    flex-flow: row nowrap;
    img {
      display: inline-block;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      align-self: center;
    }
    &-content {
      width: 100%;
      padding-bottom: 0.3rem;
    }
  }
  .follow-user {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.4rem 1rem;
    border-bottom: 1px solid rgb(230, 236, 240);

    &:hover {
      background: rgb(245, 248, 250);
    }
  }
  .title-container {
    display: flex;
    justify-content: space-between;
  }
  .bio-container {
    font-family: 'Roboto';
    a {
      color: rgb(29, 161, 242);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .user-content a:hover {
    text-decoration: underline;
  }
  .follow-btn a {
    font-weight: bold;
    color: rgb(29, 161, 242);
    background: #fff;
    padding: 0.3rem 1.1rem;
    border: 1px solid rgba(29, 161, 242, 1);
    border-radius: 25px;
    &:hover {
      background: rgba(29, 161, 242, 0.1);
    }
  }
  .follow-footer {
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid rgb(230, 236, 240);
    a {
      color: rgb(29, 161, 242);
      font-size: 15px;
      font-weight: 400;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.03);
    }
  }
  .load-more {
    margin: 1rem 0;
    text-align: center;
    a {
      color: #fff;
      background: #1da1f2;
      padding: 0.3rem 1rem;
      border-radius: 25px;
      font-size: 1rem;
      &:hover {
        background: #198ed6;
      }
    }
  }
}

//***************** MAVEGACION DE LA DERECHA *********************\\

.search-box {
  border: none;
  border-radius: 25px;
  padding: 0.1rem 1rem;
  background: rgb(230, 236, 240);
  margin-top: 0.5rem;
  white-space: nowrap;
  i {
    color: rgb(101, 119, 134);
    font-size: 0.9rem;
  }
  input {
    padding: 0.8rem 8rem 0.8rem 0.2rem;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 0.9rem;
    background: rgb(230, 236, 240);
  }
}

/* TENDENCIAS */

/* Trending Nav Items */
.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(230, 236, 240);

  :hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }
  a {
    color: rgb(27, 149, 224);
  }
  &:last-child {
    font-size: 1rem;
    border-bottom: none;
  }
  .trend-icon {
    font-size: 13px;
    color: rgb(101, 119, 134);
  }
}
.trend-list {
  display: flex;
  flex-flow: column nowrap;
}

.main-text {
  font-size: 15px;
  font-weight: bold;
  color: rgb(20, 23, 26);
}

.sub-text {
  font-size: 13px;
  color: rgb(101, 119, 134);
}

.trends {
  background: rgb(245, 248, 250);
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  border-radius: 15px;
  margin-top: 1rem;

  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid rgb(230, 236, 240);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(230, 236, 240);
    h2 {
      font-size: 1.2rem;
      font-weight: 800;
    }
  }
}
.right-footer {
  display: flex;
  flex-direction: column;
  width: 80%;

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 0.5rem;

    a:hover {
      text-decoration: underline;
    }
    i {
      padding: 0.4rem;
      border-radius: 50%;
      &:hover {
        background: rgb(245, 248, 250);
        padding: 0.4rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .footer-copyright {
    align-self: flex-start;
  }
}
